@page "/wordle"
@rendermode InteractiveServer
@inject KeyboardService keyboardService
@inject WordleGame wordleGame
@using Wordle.Components.Pages.DisplayElements

<PageTitle>Wordle</PageTitle>

<h1>Wordle</h1>
<div class="w-container w-col">
    @foreach (WordleChar[] guessedWord in wordleGame.Guesses)
    {
        <div class="w-container w-row">
            @foreach (WordleChar guessedChar in guessedWord)
            {
                <div class="w-container w-char w-circle @CssClass(guessedChar)">
                    @guessedChar.GuessedChar
                </div>
            }
        </div>
    }
    <KeyboardDisplay />
</div>
<p>Game State: @wordleGame.State</p>

@code {
    protected override void OnInitialized()
    {
        wordleGame.StateChanged += OnGameStateChanged;
    }

    private void OnGameStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }
    private string CssClass(WordleChar guessedChar)
    {
        return guessedChar.CorrectState switch
        {
            Correctness.Correct => "correct",
            Correctness.Present => "present",
            Correctness.Incorrect => "incorrect",
            _ => "unknown"
        };
    }
}
