@using Wordle


<div class="display circle @CssClass">
    @GuessedChar.GuessedChar
</div>

@code {
    [Parameter]
    public required GuessChar GuessedChar { get; set; }

    private string CssClass => GuessedChar.CorrectState switch
    {
        Correctness.Correct => "correct",
        Correctness.Present => "present",
        Correctness.Incorrect => "incorrect",
        _ => "char-unknown",
    };
}
