<div>
    @foreach (GuessChar guessChar in GuessedWord.GuessedWord)
    {
        <CharDisplay GuessedChar="@guessChar" />
    }
</div>

@code {
    [Parameter]
    public required GuessWord GuessedWord { get; set; }
}
